@import url('non.geist');
.today-icon {
  margin-top: 15px;
  margin-right: 15px; /* Adjust as needed */
}

  .widget.data-widget-black {
  font-family: 'Geist Variable';
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border: 1px solid 
    #E7E7E7;
    border-radius: 15px;
  }
  .widget.graph-widget-black {
    font-family: 'Geist Variable';
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border: 1px solid 
    #E7E7E7;
    border-radius: 15px;
  }  
  .widget.graph-widget-black3 {
    font-family: 'Geist Variable';
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border: 1px solid 
    #E7E7E7;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px
  }  
  .widget.summary-widget-black {
    font-family: 'Geist Variable';
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border: 1px solid 
    #E7E7E7;
    border-radius: 15px;
  }

  .navbar-black {

  display: flex; /* Change display to block */
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid 
  #e1e1e150;
  }

  .navbar-black button {
  font-family: 'Geist Variable';
  font-size: 11px;
  font-weight: 500; /* Default font weight for all buttons */
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;  ;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 15px;
  padding-right: 0px;
  padding-left: 0px;
  }
  .navbar-black button:first-child {
  padding-left: 25px;
  padding-right: 15px;
  font-weight: 600; /* Font weight for the first button */
  margin-left: -2px;
  color:
  #F4F4F4;
  border-bottom: 3px solid #F1F1F2;

  }
  .navbar-black button:last-child {
  font-weight: 600; /* Font weight for the first button */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  line-height: 1px;
  font-size: 10px;
  }
  .data-table-container-black {
  display: flex; /* Change display to block */
  padding-left: 25px;
  padding-right: 10px; /* Add padding to separate the table from the navbar */

  
  }

  .data-table-black {
    width: 100%;
    border-collapse: collapse;

  }
  .data-table-black td {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: 
    #ffffffa0;
    letter-spacing: 0em;
    padding: 8px;
    padding: 1px;
    border-right: 1px solid #f6f6f618; /* Adjust padding as needed */
  }
  /* Vertical lines between table columns */
  .data-table-black th {
    padding-top: 13px;
    text-align: center;
    border-right: 1px solid #f6f6f618; 
    color: #f1f1f2b7;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    background-color: #ffffff00;/* Add vertical border */
  }
  .data-table-black th:first-child{
    text-align: left;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    color: #F1F1F2;
  }
  .data-table-black td:first-child {
    text-align: left; /* Remove border from last column */
  }
  .data-table-black th:last-child,
  .data-table-black td:last-child {
    border-right: none; /* Remove border from last column */
  }
  .data-table-black tr:last-child td {
    font-weight: bold;
    background-color: #e0e0e000;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #f4f4f4e2;
    padding-top: 8px;
    padding-bottom: 20px;
  }

  
  .chart-container-black {
    border-radius: 5px; /* Add border radius */
    display: flex; /* Use flexbox */
    padding-left: 10px;
    padding-right: 15px;

  }

.legend-black{
  margin-top: 20px;
  margin-left: 17px;
  margin-right: 17px;
  border-top: 2px solid #727272;
  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 70px;
}

